#banner{
    margin-top: 50px;
    position: relative;
   
}
#banner img{
    width: 100%;
    height: 100%;
}
#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(40%);
}
#banner h3{
    font-size: 40px;
    text-align: center;
    color:white;
    text-shadow: 2px 2px 5px #333;
}
#banner p{
    font-size: 10px;
    text-align: center;
    color:white;
}
