#info{
    background: #333;
    color: #fff;
    text-align: center;
    margin-top: -29px;
}
.pet{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-pet{
    margin: 20px;
}
.info-pet img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #fff;
    padding: 18px;
}